<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.capellari.julien.ho11oscope">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Features -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <!-- Application -->
    <application android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:allowBackup="true"
        android:fullBackupContent="@xml/backup">

        <!-- Métadonnées -->
        <meta-data android:name="android.max_aspect" android:value="2.1" /> <!-- Rends l'appli adaptables aux plus récentes tailles d'écrans 16:9 -->

        <!-- Activités -->
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Métadonnées -->
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable_main" />

            <!-- Launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Action View -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <!-- Action Search -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <!-- Providers -->
        <provider android:name=".youtube.YoutubeSearchProvider"
            android:authorities="net.capellari.julien.ho11oscope.youtube.YoutubeSearchProvider"
            android:exported="false" />
    </application>

</manifest>